# PKGBUILDS are supposed to create these...
*/src/
*/pkg/


# compressed files, usually downloaded as a middle step
*.tar.gz
*.tar.xz
*.jar
*.zst
*zip

# replicatable files
# makepkg --printsrcinfo > .SRCINFO
.SRCINFO
